
@import "lib/html5reset.css";


body {
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #555;
	margin: 80px 30px;
}


a, a:visited {
	color: #555;
	text-decoration: none;
}
a:hover {
	color: #e80;
}


body > nav {
	position: fixed;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 0.85em;
	background-color: rgb(240,240,240);
	border-bottom: 1px solid rgb(225,225,225);
	-webkit-box-shadow: 0 0 30px #555;
	-moz-box-shadow: 0 0 30px #555;
	box-shadow: 0 0 30px #555;
}
body > nav li {
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
body > nav li:hover, body > nav li:hover a {
	color: #e80;
	background-color: rgba(255,255,255,0.5);
	opacity: 1.0;
}
body > nav a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
body > nav img {
	vertical-align: bottom;
	padding: 0 6px 6px 0;
}
body > nav li.crumb {
	float: left;
	border-right: 1px dotted rgb(225,225,225);
}
body > nav li.view {
	float: right;
	border-left: 1px dotted rgb(225,225,225);
}


#content {
	max-width: 980px;
	margin: 0 auto;
}
#content > header {
	display: none;
	padding-bottom: 10px;
	margin-bottom: 80px;
	border-bottom: 2px dashed #ddd;
}
#content > footer {
	display: none;
	padding-top: 10px;
	margin-top: 80px;
	border-top: 2px dashed #ddd;
}


#details {
	display: none;
}
#details table {
	display: block;
	width: 100%;
	border-collapse: collapse;
}
#details tr.entry:hover, #details tr.entry:hover a {
	background-color: rgb(235,245,250);
	background-color: #f0f0f0;
	color: #e80;
	cursor: pointer;
}
#details th, #details td {
	padding: 3px 6px;
	text-align: left;
	border: none;
}
#details th {
	padding-bottom: 18px;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#details th.header:hover, #details th.header:hover a {
	color: #555;
	cursor: pointer;
	opacity: 0.9;
}
#details th a, #details th a:visited {
	color: #555;
	font-weight: normal;
}
#details th a img {
	width: 12px;
	height: 12px;
	padding: 0 8px;
}
#details td {
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
}
#details .icon {
	text-align: center;
	width: 16px;
}
#details .icon img {
	width: 16px;
	height: 16px;
	padding-top: 2px;
}
#details .name {
	width: 682px;
	max-width: 682px;
	overflow: hidden;
	white-space: nowrap;
}
#details .date {
	text-align: right;
	width: 160px;
	min-width: 160px;
	white-space: nowrap;
}
#details .size {
	text-align: right;
	width: 70px;
	min-width: 70px;
	white-space: nowrap;
}
#details .empty {
	text-align: center;
	margin: 50px 0;
	color: #ddd;
	font-size: 5em;
	font-weight: bold;
}


#icons {
	display: none;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 15px;
}
#icons .entry {
	margin: 8px;
	padding: 8px;
	width: 100px;
	height: 120px;
	float: left;
	text-align: center;
	overflow: hidden;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0);
}
#icons .entry:hover {
	color: #e80;
	border-color: #eee;
	-webkit-box-shadow: 0 0 20px #555;
	-moz-box-shadow: 0 0 20px #555;
	box-shadow: 0 0 20px #999;
}
#icons .entry img {
	width: 48px;
	height: 48px;
	margin-bottom: 8px;
}


body > footer {
	position: fixed;
	z-index: 1;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 10px 0;
	border-top: 1px solid rgb(225,225,225);
	background-color: rgb(240,240,240);
	color: #999;
	font-size: 0.85em;
	text-align: center;
	-webkit-box-shadow: 0 0 30px #555;
	-moz-box-shadow: 0 0 30px #555;
	box-shadow: 0 0 30px #555;
}
body > footer a, body > footer a:visited {
	color: #555;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
body > footer a:hover {
	color: #e80;
}


#html5 {
	position: absolute;
	left: 6px;
	bottom: 6px;
	float: left;
}
#html5 img {
	width: 20px;
	height: 20px;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#html5:hover img {
	opacity: 0.8;
}

