
@import "lib/html5reset.css";


body {
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #555;
	margin: 80px 30px;
}


a, a:visited {
	color: #555;
	text-decoration: none;
}
a:hover {
	color: #e80;
}


nav {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	font-size: 0.85em;
	background-color: rgb(240,240,240);
	border-bottom: 1px solid rgb(225,225,225);
	-webkit-box-shadow: 0px 0px 30px #555;
	-moz-box-shadow: 0px 0px 30px #555;
	box-shadow: 0px 0px 30px #555;
}
nav li {
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
nav li:hover, nav li:hover a {
	color: #e80;
	background-color: rgba(255,255,255,0.5);
	opacity: 1.0;
}
nav a {
	display: block
	height: 30px;
	line-height: 30px;
	padding: 4px 10px;
}
nav img {
	vertical-align: bottom;
	padding-right: 6px;
	padding-bottom: 6px;
}
nav li.crumb {
	float: left;
	border-right: 1px dotted rgb(225,225,225);
}
nav li.view {
	float: right;
	border-left: 1px dotted rgb(225,225,225);
}


section#h5ai-top {
	display: none;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 80px 0px;
	border-bottom: 1px solid #999;
}


section#h5ai-bottom {
	display: none;
	padding: 10px 0px 0px 0px;
	margin: 80px 0px 0px 0px;
	border-top: 1px solid #999;
}


section#content {
	max-width: 980px;
	margin: 0px auto;
}


table {
	width: 100%;
	border-collapse: collapse;
}
table {
	display: block;
}
table tr.entry:hover, table tr.entry:hover a {
	background-color: rgb(235,245,250);
	background-color: #f0f0f0;
	color: #e80;
	cursor: pointer;
}
table th, table td {
	padding: 3px 6px;
	text-align: left;
	border: none;
}
table th {
	padding-bottom: 18px;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
table th.header:hover, table th.header:hover a {
	color: #555;
	cursor: pointer;
	opacity: 0.9;
}
table th a, table th a:visited {
	color: #555;
	font-weight: normal;
}
table th a img {
	width: 12px;
	height: 12px;
	padding: 0px 8px;
}
table td {
	border: 1px solid #ddd;
	border-left: 0px;
	border-right: 0px;
}
table .icon {
	text-align: center;
	width: 16px;
}
table .icon img {
	width: 16px;
	height: 16px;
	padding-top: 2px;
}
table .name {
	width: 682px;
	max-width: 682px;
	overflow: hidden;
	white-space: nowrap;
}
table .date {
	text-align: right;
	width: 160px;
	min-width: 160px;
	white-space: nowrap;
}
table .size {
	text-align: right;
	width: 70px;
	min-width: 70px;
	white-space: nowrap;
}


div#empty {
	text-align: center;
	margin: 50px 0px;
	color: #ddd;
	font-size: 5em;
	font-weight: bold;
}


#icons {
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 15px;
}
#icons .entry {
	margin: 8px;
	padding: 8px;
	width: 100px;
	height: 120px;
	float: left;
	text-align: center;
	overflow: hidden;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0);
}
#icons .entry:hover {
	color: #e80;
	border-color: #eee;
	-webkit-box-shadow: 0px 0px 20px #555;
	-moz-box-shadow: 0px 0px 20px #555;
	box-shadow: 0px 0px 20px #999;
}
#icons .entry img {
	width: 48px;
	height: 48px;
	margin: 0px 0px 8px 0px;
}


section#special {
	display: none;
	text-align: center;
	margin: 50px 0px;
}


footer {
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	padding: 10px 0px;
	border-top: 1px solid rgb(225,225,225);
	background-color: rgb(240,240,240);
	color: #999;
	font-size: 0.85em;
	text-align: center;
	-webkit-box-shadow: 0px 0px 30px #555;
	-moz-box-shadow: 0px 0px 30px #555;
	box-shadow: 0px 0px 30px #555;
}
footer a, footer a:visited {
	color: #555;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
footer a:hover {
	color: #e80;
}


#html5 {
	position: absolute;
	left: 6px;
	bottom: 6px;
	float: left;
}
#html5 img {
	width: 20px;
	height: 20px;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#html5:hover img {
	opacity: 0.8;
}

