---
  env:
    es6: false
    node: false
    browser: true
    mocha: true

  globals:
    modulejs: false
    jQuery: false
    $: false
    _: false
    util: false
    assert: false
    uniq: false
    sinon: false

  parserOptions:
    ecmaVersion: 6

  rules:
    consistent-this: 0
    func-names: 0
    max-nested-callbacks: [1, 5]
    max-params: [1, 10]
    no-invalid-this: 0
    no-var: 0
    object-shorthand: 0
    prefer-arrow-callback: 0
    prefer-reflect: 0
