@charset "utf-8";

@col-white: #ffffff;
@col-red-500: #f44336;
@col-red-800: #c62828;
@col-amber-800: #ff8f00;
@col-green-500: #4caf50;
@col-grey-200: #eeeeee;
@col-grey-800: #424242;

@col-medium: @col-amber-800;
@col-slow: @col-red-800;

#mocha-custom {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: @col-grey-800;
    z-index: 10000;
    color: @col-white;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    height: 32px;
    padding: 0 8px;

    a, a:active, a:visited, a:hover {
        display: block;
        color: @col-white;
        text-decoration: none;
    }
    &.pass {
        background: @col-green-500;
    }
    &.fail {
        background: @col-red-500;
    }
    .stats {
        display: block;
        position: absolute;
        right: 8px;
        top: 0;
        cursor: pointer;
    }
    .progress {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: rgba(255,255,255,0.2);
    }
}

#mocha {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    position: fixed;
    left: 0;
    top: 32px;
    right: 0;
    bottom: 0;
    background: @col-white;
    z-index: 10000;
    overflow-x: auto;
    overflow-y: scroll;

    #mocha-stats {
        display: none;
    }

    #mocha-report {
        max-width: 900px;
        margin: 0 auto;
        padding: 32px;

        > .suite {
            margin: 0;
        }
    }

    ul, li, h1, h2 {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    h2 {
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
    }

    .suite {
        margin: 16px 0 8px 24px;

        > h1 {
            color: @col-grey-800;
            height: 24px;
            line-height: 24px;
            font-size: 16px;
            font-weight: bold;

            a, a:active, a:visited, a:hover {
                display: block;
                padding: 0 8px;
                font-size: inherit;
                font-weight: inherit;
                color: inherit;
                background: inherit;
                text-decoration: none;
                cursor: pointer;
            }

            a:hover {
                background: @col-grey-200;
            }

            .count {
                font-size: 0.85em;

                .passed {
                    color: @col-green-500;
                    margin-left: 1em;
                }
                .failed {
                    color: @col-red-500;
                    margin-left: 0.5em;
                }
            }
        }
    }

    .test {
        margin-left: 15px;
        padding: 2px 4px;
        overflow: hidden;

        &:hover {
            background: @col-grey-200;
        }

        &.fail {
            color: @col-red-800;
        }

        &::before {
            content: ' ';
            display: block;
            width: 10px;
            height: 10px;
            float: left;
            margin-right: 8px;
            background: @col-grey-800;
            border-radius: 20px;
            position: relative;
            top: 3px;
        }
        &.pass::before {
            background: @col-green-500;
        }
        &.fail::before {
            background: @col-red-500;
        }
        &.pending::before {
            background: @col-grey-800;
        }

        .duration {
            display: inline-block;
            color: @col-grey-800;
            border: none;
            box-shadow: none;
            font-size: 10px;
            margin-left: 12px;
            float: right;
        }
        &.medium .duration {
            color: @col-medium;
        }
        &.slow .duration {
            color: @col-slow;
        }

        pre {
            display: block;
            font-family: monospace;
            font-size: 12px;
            margin: 4px 0 16px 18px;
            padding: 0 8px;
            word-wrap: break-word;
            border-left: 2px solid @col-grey-800;

            &.error {
                color: @col-red-800;
            }
        }
    }

    .hidden, .replay {
        display: none;
    }
}
