::-moz-selection {
    color: @col-text-native-selection;
    background: @col-back-native-selection;
    text-shadow: none;
}
::selection {
    color: @col-text-native-selection;
    background: @col-back-native-selection;
    text-shadow: none;
}

*:focus {
    outline: none;
}
