## make this folder accessible

# Apache < 2.3
<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
    Satisfy All
</IfModule>

# Apache ≥ 2.3
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
