Satisfy all
Order allow,deny
Allow from all

DirectoryIndex disabled

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

AddDefaultCharset utf-8

<IfModule mod_mime.c>
    AddCharset utf-8 .css .html .js .json .php .svg
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

    ExpiresByType text/html                             "access plus 0 seconds"
    ExpiresByType application/json                      "access plus 0 seconds"

    ExpiresByType text/css                              "access plus 1 week"
    ExpiresByType application/javascript                "access plus 1 week"
    ExpiresByType image/x-icon                          "access plus 1 week"
</IfModule>
