
#bottombar {
    overflow: hidden;
    flex: 0 0 auto;
    order: 99;

    height: 18px;
    padding: 6px;
    background: @col-widget-back;
    border-top: @border-widget;

    color: #999;
    text-align: right;

    > * {
        margin: 0 8px;
    }

    a, a:active, a:visited {
        color: #555;
        text-decoration: none;
        .transition(all 0.2s ease-in-out);
        opacity: 0.7;

        &:hover {
            color: @col-hover;
            opacity: 1;
        }
    }
    .noJsMsg {
        color: @col-error;
    }
    .noBrowserMsg {
        color: @col-error;
        a, a:active, a:visited {
            color: @col-error;
            text-decoration: underline;
            opacity: 1;
            &:hover {
                color: @col-hover;
            }
        }
    }
}
