
#view .context-menu {

    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: @col-widget-back;
    border: @border-widget;
    color: #999;
    z-index: 10;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;

        li {
            padding: 8px 12px 10px 12px;
            white-space: nowrap;
            border-top: @border-widget-sep;
            .transition(all 0.2s ease-in-out);

            &:hover {
                color: @col-hover;
                background-color: @col-widget-back-hover;
            }
        }
    }
}
