
#content {
    max-width: 960px;
    margin: 50px auto;
    font-size: 15px;
}

#content-header, #content-footer {
    color: #333;

    a, a:active, a:visited {
        color: @col-link;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: #555;
        }
    }

    pre, code {
        font-family: @font-family-mono;
    }
}

#content-header {
    padding-bottom: 12px;
    margin-bottom: 32px;
}

#content-footer {
    padding-top: 12px;
    margin-top: 32px;
}
