
#fallback {
    display: none;
    max-width: 960px;
    margin: 80px auto;

    table {
        display: block;
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: 6px;
            text-align: left;
            border: none;
        }
        th {
            padding-bottom: 18px;
            color: #555;
            font-weight: normal;
            opacity: 0.4;
        }
        td {
            border-bottom: 1px solid @col-border;
            overflow: hidden;
            white-space: nowrap;
            font-size: 15px;

            a, a:active, a:visited {
                display: block;
                color: #555;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: @col-hover;
                }
            }
        }
        .fb-i {
            width: 24px;

            img {
                width: 24px;
                height: 24px;
            }
        }
        .fb-n {
            width: 682px;
            max-width: 682px;
        }
        .fb-d {
            text-align: right;
            width: 160px;
            min-width: 160px;
        }
        .fb-s {
            text-align: right;
            width: 70px;
            min-width: 70px;
        }
    }
}


html.no-js, html.no-browser {

    #fallback {
        display: block;
    }
}
