html {
    min-height: 100%;
    overflow: auto;
}

::-moz-selection { background: @col-pink-a200; color: @col-text-primary-white; text-shadow: none; }
::selection { background: @col-pink-a200; color: @col-text-primary-white; text-shadow: none; }

*:focus {
    outline: none;
}
