
#notify {
    position: fixed;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    z-index: 100;
    padding: 3px 6px 6px 6px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    text-align: center;
}
