
#qrcode {
    display: none;
    position: fixed;
    right: 16px;
    bottom: 50px;
    z-index: 10;

    background-color: @col-widget-back;
    border: @border-widget;
    border-radius: 8px;
    padding: 8px;

    canvas {
        display: block;
    }
}
