
#tree {
    display: none;

    overflow: auto;
    flex: 0 0 auto;
    order: 1;

    padding: 8px 16px 8px 8px;
    // background: #eee;
    // border-right: 1px solid @col-border;
    background: #eaeaea;
    font-weight: lighter;
    white-space: nowrap;
    max-width: 250px;
    overflow-x: hidden;

    .indicator {
        position: relative;
        top: 2px;
        display: inline-block;
        width: 16px;
        height: 22px;
        float: left;
        cursor: pointer;

        img {
            width: 12px;
            height: 12px;
            .transition(all 0.2s ease-in-out);
        }
        &.open {
            img {
                .transform(rotate(90deg));
            }
        }
        &.unknown {
            opacity: 0.3;
        }
        &.none {
            opacity: 0;
            cursor: inherit;
        }
    }
    a, a:active, a.visited {
        display: block;
        height: 1.231em;
        line-height: 1.231em;
        margin-left: 14px;
        padding: 4px 6px;
        color: #555;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 3px;
        text-decoration: none;

        &:hover, &.hover {
            color: @col-hover;
        }
    }
    .icon {
        position: relative;
        top: -2px;
        margin-right: 6px;

        img {
            width: 16px;
            height: 16px;
        }
    }
    .hint {
        margin-left: 6px;
        font-size: 0.9em;
        color: #ccc;
    }
    .content {
        list-style: none;
        margin: 0;
        padding: 0 0 0 24px;
    }
    .summary {
        margin: 0 0 0 24px;
        color: #999;
        font-style: italic;
    }
    .current {
        > a, > a:active, > a:visited {
            font-weight: bold;
        }
    }
    .error {
        > a, > a:active, > a:visited {
            color: #999;
            &:hover, &.hover {
                color: @col-hover;
            }
        }
        .hint {
            color: #c55;
        }
    }
}
