
#selection-rect {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	border: 1px dashed @col-border-strong;
	background-color: rgba(0,0,0,0.01);
}

#selector {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border: 1px solid #555;
	border-radius: 100px;
	opacity: 0.7;
	cursor: pointer;

	.on-selected, .on-not-selected {
		display: block;
		width: 16px;
		height: 16px;
	}

	&:hover {
		opacity: 1;
	}
}

.item.selected {
	#selector {
		.on-not-selected {
			display: none;
		}
	}
}
.item:not(.selected) {
	#selector {
		.on-selected {
			display: none;
		}
	}
}


@item-border-col-sep: @col-border;

@item-background-col-hover: rgba(0,0,0,0.02);
@item-border-col-hover: @col-border;

@item-background-col-sel: rgba(0,0,0,0.02);
@item-border-col-sel: @col-border-strong;



#view {
	display: none;
	margin: 0 auto;

	a, a:active, a:visited {
		color: #333;
		cursor: pointer;
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		position: relative;
		white-space: nowrap;

		&.header {
			display: none;
			font-size: 13px;

			a, a:active, a:visited {
				padding: 6px 6px 18px 6px;
				opacity: 0.4;
				.transition(all 0.2s ease-in-out);

				img {
					display: none;
					position: relative;
					top: -2px;
					width: 12px;
					height: 12px;
					padding: 0 8px;
				}
				&:hover {
					color: #555;
					opacity: 0.9;
				}
				&.ascending img.ascending {
					display: inline;
				}
				&.descending img.descending {
					display: inline;
				}
			}
		}

		&.item {

			a, a:active, a:visited {
				display: block;
				overflow: hidden;

				&:hover, &.hover {
					color: @col-hover;
					background-color: @item-background-col-hover;
					border-color: @item-border-col-hover;
				}
			}

			&.selected:not(.selecting), &.selecting:not(.selected) {

				a, a:active, a:visited {
					background-color: @item-background-col-sel;
					border-color: @item-border-col-sel;

					&:hover, &.hover {
						background-color: @item-background-col-sel;
						border-color: @item-border-col-sel;
					}
				}
			}
		}

		&.error {

			a, a:active, a:visited {
				color: #aaa;

				&:hover, &.hover {
					color: @col-hover;
				}
			}

			.label .hint {
				padding: 0 6px;
				font-size: 0.9em;
				color: #c55;
			}
		}

		&.folder-parent {

			.date, .size {
				display: none;
			}
		}

		.icon {
			display: none;
			text-align: center;

			img {

				&.thumb {
					box-shadow: 0 0 0 1px #ddd;
				}
			}

			&.small {

				img {
					max-width: 16px;
					max-height: 16px;
				}
			}

			&.big {

				img {
					max-width: 100px;
					max-height: 48px;
					vertical-align: top;
				}
			}
		}

		.label {
			display: block;
			overflow: hidden;
			text-align: left;
		}

		.date {
			text-align: right;
			width: 160px;
		}

		.size {
			text-align: right;
			width: 80px;
		}
	}

	.empty, .no-match {
		margin: 50px 0;
		text-align: center;
		color: #ddd;
		font-size: 5em;
		font-weight: bold;
	}

	.no-match {
		display: none;
	}
}
