
.view-grid-sized(@size) {

    .label {
        padding: (@size/2 - 9px) 8px;
    }

    .icon.square {
        width: @size;

        img {
            width: @size;
            height: @size;
        }
    }
}


#view.view-grid {

    margin: 8px;

    .item {
        float: left;
        margin: 8px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);

        &:hover, &.hover {
            box-shadow: 0 1px 10px 0px rgba(0,0,0,0.5);
        }
    }

    .icon.square {
        display: inline-block;
        vertical-align: top;
        background: #fafafa;
    }

    .label {
        display: inline-block;
        vertical-align: top;
        width: 180px;
    }

    .date, .size {
        display: none;
    }

    .view-grid-sized(48px);

    &.size-16,
    &.size-24,
    &.size-32,
    &.size-48 {
        .view-grid-sized(48px)
    }

    &.size-64 {
        .view-grid-sized(64px)
    }

    &.size-96 {
        .view-grid-sized(96px)
    }

    &.size-128 {
        .view-grid-sized(128px)
    }

    &.size-192 {
        .view-grid-sized(192px)
    }

    &.size-256 {
        .view-grid-sized(256px)
    }

    &.size-384 {
        .view-grid-sized(384px)
    }
}
