
#extended.details-view {
	display: none;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			white-space: nowrap;
			clear: both;

			&.header a {
				padding-bottom: 18px;
				color: #555;
				opacity: 0.4;
				cursor: pointer;
				.transition( all 0.2s ease-in-out );

				&:visited {
					color: #555;
				}
				&:hover {
					color: #555;
					opacity: 0.9;
				}
				img {
					width: 12px;
					height: 12px;
					padding: 0 8px;
				}
			}
			&.entry {
				border-bottom: 1px solid #ddd;

				a {
					display: block;
					cursor: pointer;

					&:hover {
						background-color: #f6f6f6;
						color: #e80;
					}
				}
				&.notListable {
					> a, > a:visited {
						opacity: 0.7;
						color: #999;
					}
				}
			}
			.icon, .label, .date, .size {
				padding: 6px;
			}
			.icon {
				display: inline-block;
				position: absolute;
				left: 0;
				top: 2px;
				width: 16px;

				img {
					width: 16px;
					height: 16px;
				}
			}
			.icon.big {
				display: none;
			}
			.label {
				display: block;
				margin: 0 270px 0 24px;
				overflow: hidden;
				white-space: nowrap;
				text-align: left;
				.error {
					font-size: 0.9em;
					font-style: italic;
					color: #c55;
				}
			}
			.date {
				position: absolute;
				right: 100px;
				top: 0;
				text-align: right;
				width: 160px;
				white-space: nowrap;
			}
			.size {
				position: absolute;
				right: 0;
				top: 0;
				text-align: right;
				width: 80px;
				white-space: nowrap;
			}
		}
	}
	.empty {
		text-align: center;
		margin: 50px 0;
		color: #ddd;
		font-size: 5em;
		font-weight: bold;
	}
}


#extended.icons-view {
	display: none;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 15px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			&.header {
				display: none;
			}
			&.entry {
				float: left;

				a {
					display: block;
					margin: 8px;
					padding: 8px;
					width: 100px;
					height: 120px;
					float: left;
					text-align: center;
					overflow: hidden;
					border-radius: 5px;
					cursor: pointer;
					border: 2px solid rgba(0,0,0,0);
			
					&:hover {
						color: #e80;
						border-color: #eee;
						background-color: #f6f6f6;
						//.box-shadow( 0, 0, 20px, #999 );
					}
					.icon {
						display: block;

						img {
							width: 48px;
							height: 48px;
							margin-bottom: 8px;
						}
					}
					.icon.small {
						display: none;
					}
					.label {
						display: block;
						word-wrap: break-word;
						.error {
							font-size: 0.9em;
							font-style: italic;
							color: #c55;
						}
					}
					.date, .size {
						display: none;
					}
				}
				&.notListable {
					> a, > a:visited {
						opacity: 0.7;
						color: #999;
					}
				}
			}
		}
	}
	.empty {
		padding: 16px;
		height: 120px;
		text-align: center;
		color: #ddd;
		font-size: 5em;
		font-weight: bold;
	}
}
