
.border-radius ( @radius: 5px ) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}


.box-shadow ( @x: 10px, @y: 10px, @blur: 5px, @color: #ccc ) {
	-moz-box-shadow: @x @y @blur @color;
	-webkit-box-shadow: @x @y @blur @color;
	box-shadow: @x @y @blur @color;
}


.transition ( @transitions ) {
	-moz-transition: @transitions;
	-ms-transition: @transitions;
	-o-transition: @transitions;
	-webkit-transition: @transitions;
	transition: @transitions;
}


.transform ( @transforms ) {
	-moz-transform: @transforms;
	-o-transform: @transforms;
	-webkit-transform: @transforms;
	transform: @transforms;
}


.background-size ( @size ) {
	-moz-background-size: @size;
	-webkit-background-size: @size;
	background-size: @size;
}

