
#content {
	max-width: 960px;
	margin: 0 auto;

	> header {
		display: none;
		padding-bottom: 10px;
		margin-bottom: 80px;
		border-bottom: 2px dashed #ddd;
	}
	> footer {
		display: none;
		padding-top: 10px;
		margin-top: 80px;
		border-top: 2px dashed #ddd;
	}
}
