extends ./page.tpl.jade

block init

    - var title = pkg.name + ' info page - v' + pkg.version
    - var module = 'info'

block body

    div#content
        h1#header
            a( href="#{pkg.homepage}" ) #{pkg.name}

        div#support
            | Show your support with a donation!
            div.paypal
                form( action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_blank" )
                    input( type="hidden", name="cmd", value="_s-xclick" )
                    input( type="hidden", name="hosted_button_id", value="8WSPKWT7YBTSQ" )
                    input( type="image", src!="#{public_href}images/ui/paypal.svg", name="submit", alt="PayPal" )
