doctype 5
//if lt IE 10
	<html class="no-js no-browser" lang="en">
//[if gt IE 9]><!
html.no-js.browser( lang="en" )
	//<![endif]

	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible", content="IE=edge" )
		title {{pkg.name}} {{pkg.version}} Server Setup
		meta( name="description", content="{{pkg.name}} {{pkg.version}} Server Setup" )
		meta( name="viewport", content="width=device-width, initial-scale=1" )
		link( rel="shortcut icon", href="client/images/favicon/favicon-16-32.ico" )
		link( rel="apple-touch-icon-precomposed", type="image/png", href="client/images/favicon/favicon-152.png" )
		link( rel="stylesheet", href="client/css/styles.css" )
		script( src="client/js/scripts.js", data-mode="info" )

	body#h5ai-info

		h1
			a( href="{{pkg.url}}" ) {{pkg.name}}
		span.build-version version {{pkg.version}}
		span.build-stamp {{stamp}}
		span.idx-file Index: 
			code.value

		h2 Server Setup
		ul#tests

		div#bottombar.clearfix
			span.left
				span.noJsMsg
					| ⚡ JavaScript disabled! ⚡
				span.noBrowserMsg
					| ⚡ Works best in 
					a( href="http://browsehappy.com" ) modern browsers
					| ! ⚡
			span.right
				a( href="{{pkg.url}}", title="{{pkg.name}} {{pkg.version}} · {{pkg.description}}" )
					| powered by h5ai
			span.center
