
@import "inc/html5reset";
@import "inc/mixins";


html.js {
	.jsDisabledFallback {
		display: none;
	}
}
html.no-js {
	body > nav ul {
		display: none;
	}
}

body {
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #555;
	margin: 80px 30px;
}


a, a:visited {
	color: #555;
	text-decoration: none;

	&:hover {
		color: #e80;
	}
}


body > nav {
	position: fixed;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 0.85em;
	background-color: rgb(240,240,240);
	border-bottom: 1px solid rgb(225,225,225);
	.box-shadow( 0 0 30px #555 );

	span.jsDisabledFallback {
		display: block;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		color: #999;
	}
	li {
		cursor: pointer;
		opacity: 0.7;
		.transition( all 0.2s ease-in-out );
		
		&.crumb {
			float: left;
			border-right: 1px dotted rgb(225,225,225);
			.hint {
				margin-left: 8px;
				font-style: italic;
				color: #999;
			}
			img.hint {
				width: 10px;
				height: 10px;
				vertical-align: baseline;
				padding: 0px;
			}
		}
		&.current {
			background-color: rgba(255,255,255,0.5);
			opacity: 1.0;
		}
		&.view {
			float: right;
			border-left: 1px dotted rgb(225,225,225);
		}
		&:hover, &:hover a {
			background-color: rgba(255,255,255,0.5);
			color: #e80;
			opacity: 1.0;
		}
	}
	a {
		display: block;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
	}
	img {
		width: 16px;
		height: 16px;
		vertical-align: bottom;
		padding: 0 6px 6px 0;
	}
}


#content {
	max-width: 980px;
	margin: 0 auto;

	> header {
		display: none;
		padding-bottom: 10px;
		margin-bottom: 80px;
		border-bottom: 2px dashed #ddd;
	}
	> footer {
		display: none;
		padding-top: 10px;
		margin-top: 80px;
		border-top: 2px dashed #ddd;
	}
}


@import "inc/table";
@import "inc/extended";
@import "inc/tree";


body > footer {
	position: fixed;
	z-index: 1;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 10px 0;
	border-top: 1px solid rgb(225,225,225);
	background-color: rgb(240,240,240);
	color: #999;
	font-size: 0.85em;
	text-align: center;
	.box-shadow( 0 0 30px #555 );

	a, a:visited {
		color: #555;
		.transition( all 0.2s ease-in-out );

		&:hover {
			color: #e80;
		}
	}
}


#html5 {
	position: absolute;
	left: 6px;
	bottom: 6px;
	float: left;

	img {
		width: 20px;
		height: 20px;
		opacity: 0.4;
		.transition( all 0.2s ease-in-out );
	}
	&:hover img {
		opacity: 0.8;
	}
}

