#content-header, #content-footer {
    margin: 16px;
    padding: 8px;
    color: @col-text;

    a, a:active, a:visited {
        color: @col-link;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: @col-link-hover;
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0.1em 0;
    }
}
